@import "tailwindcss";





body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

/* .animated-gradient-bg {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, #0A0B68 0%, #1024AB 48%, #0D0D7E 100%);
  background-size: 200% 200%;
  animation: gradientMove 8s ease-in-out infinite;
} */

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
